h2 {
  color: darkviolet !important;  
}

h2#red {
    color: darkviolet;  
  }
  
  
p {
  color:orange;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

#red {
  color: red;
}
